<%= form_for(@work_month) do |f| %>
  <% if @work_month.errors.any? %>
    <div id="error_explanation" class="col-md-6 col-md-offset-3">
      <h2><%= pluralize(@work_month.errors.count, "error") %> prohibited this work_month from being saved:</h2>

      <ul>
      <% @work_month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :year %>
  <%= f.hidden_field :month %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.label :name, "Who are you?" %>
      <%= f.text_field :name %>
    </div>
  </div>

  <hr>

  <%= f.fields_for :work_days do |builder| %>
    <%= render partial: "work_days/form", locals: { f: builder } %>
  <% end %>

  <div class="row">
    <div class="col-md-3 col-centered">
      <%= f.submit class: "btn btn-lg btn-success" %>
    </div>
  </div>
<% end %>
