<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Absence List</h1>
  <h2>For <%= "#{@year}-#{@month}" %></h2>
  <p>Total: <%= "#{@employees_count} #{'person'.pluralize(@employees_count)}" %> </p>
  <p>Reported: <%= "#{@reported_count} #{'person'.pluralize(@reported_count)}" %> </p>
  <p>Missing:</p>
  <ul>
    <% @missing.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
</div>

<table class="table">
  <% @work_months.each do |work_month| %>
    <tr class="row">
      <td class="col-md-3 col-md-offset-2">
        <b><%= work_month.employee.name %></b>
      </td>
      <td class="col-md-3">
        <% if work_month.has_absence? %>
          Absence: <%= work_month.absence_days %> days, <%= work_month.absence_hours %> hours
        <% else %>
          No absence
        <% end %>
      </td>
      <td class="col-md-2">
        <%= link_to "See Details", work_month if work_month.has_absence? %>
      </td>
    </tr>
  <% end %>
</table>
