<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @work_month.name %></h1>
  <h2><%= "#{@work_month.year}-#{@work_month.month}" %></h2>
</div>

<table class="table">
  <% @work_month.work_days.where.not(absence: nil).each do |day| %>
    <tr class="row">
      <td class="col-md-3 col-md-offset-1">
        <%= day.date.strftime("%Y-%m-%d %A") %>
      </td>
      <td class="col-md-4">
        Absence reason: <%= day.absence.humanize %>
      </td>
      <td class="col-md-3">
        Absence hours: <%= day.hours %>
      </td>
    </tr>
  <% end %>
</table>

<hr/>

<div class="row">
  <div class="col-md-4 col-md-offset-4">Absence: <%= @work_month.absence_days %> days, <%= @work_month.absence_hours %> hours</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">Sick: <%= @work_month.sick_days %> days</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">Home with sick child: <%= @work_month.home_with_sick_child_days %> days</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">Vacation: <%= @work_month.vacation_days %> days</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">Parental leave: <%= @work_month.parental_leave_days %> days</div>
</div>
