<tr>
  <td>
    <%= f.object.date.strftime("%Y-%m-%d %a") %>
    <%= f.hidden_field :date %>
  </td>

  <td>
    <%= f.label :hours %>
    <%= f.number_field :hours %>
  </td>

  <td>
    <%= f.label :absence %>
    <%= f.select :absence, WorkDay.absences.keys.map { |key| [key.to_s.humanize, key] }, include_blank: true %>
  </td>
</tr>
