<tr class="row">
  <td class="col-md-2 col-md-offset-1">
    <%= f.object.date.strftime("%Y-%m-%d %a") %>
    <%= f.hidden_field :date %>
  </td>

  <td class="col-md-4">
    <%= f.label :absence, "Absence reason" %>
    <%= f.select :absence, WorkDay.absences.keys.map { |key| [key.to_s.humanize, key] }, include_blank: true %>
  </td>

  <td class="col-md-4">
    <%= f.label :hours, "Absence hours" %>
    <%= f.number_field :hours %>
  </td>
</tr>
